<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='/css/admin_page.css'>
	<%include a_header.ejs%>
	<style type="text/css">
	#i_img{
    	float: left;
	}
	#i_description{
		width: 100%;
		height: 150px;
	}
	.n_type{
		width: 100%;
	}
	.p_placeholder::-webkit-input-placeholder {
		font-style: italic;
		font-family: sans-serif;
		color: #000;
		opacity: 0.3;
	}

	</style>
 </head>
<body>

<div class="reg-form">
		<div class="container">
			<div class="reg">
				<h4 class='a_topic'>Select Product Image for <%=name%></h4>
				<br/>
				<div class='col-md-8'>
				 <form id='update_form' action='/admin/products/<%=p_id%>/change_image' enctype='multipart/form-data' method='post'>
					<ul>
						<li class="text-info"><img src="/images/liquors/<%=image%>" alt="" class="img-responsive" /></li>

						<li><input type="file" value="" title = 'Product Image' name='p_img' required oninvalid="this.setCustomValidity()"></li>
					</ul>
					</br>
					<input type="submit" value="Save Image" id='save_changes'>
				</form>
				</div>	
			</div>
		</div>
	</div>
</body>
</html>