<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <style>
			.logo{
				background-color: #abc;
				width: 400px;
			}
			h3{
				text-align: center;
			}
			p{
				padding: 10px;
			}

		</style>
 </head>
<body>
<div class="header_top">
	<div class="container">
		<div class="logo">
		 	<a href="/localhost:3000"><h3>LiquorZone.com</h3></a>

		 	<% for(var i=0; i < data.length; i++) { %>
		 	<p>Customer Name: <%= data[i].c_name%></p>
		 	<p>Customer Email: <%= data[i].c_email%></p>
		 	<p>Customer Phone: <%= data[i].c_phone%></p>
		 	<p>Customer Message: <%= data[i].c_msg%></p>
		 	<%}%>
		 </div>
	</div>
</div>
</body>