
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/t_register.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/t_register.js"></script>
   <% include t_header.ejs %>
   <script type="text/javascript">
	    $(document).ready(function() {
	   	var cart_details = JSON.parse(localStorage.getItem('cart_details'));
	   	var quantity = 0;
	   	var total_amount = 0;
	   	var delivery_charge = 10.00;
	   	var amount_with_delivery_charge = 0;
	   	if(!cart_details){
	        cart_details = [];
	    }else{
		   	console.log(cart_details)
		   	quantity = cart_details.quantity;
		   	total_amount = (cart_details.total_amount).toFixed(2);
		   	amount_with_delivery_charge = parseFloat(total_amount) + parseFloat(10.00);
		   	console.log(amount_with_delivery_charge)
		   }

		   if(quantity != 0){
		   	delivery_charge = 10.00;
		   }else{
		   	delivery_charge = 0.00;
		   }
		   $('.price-details span.total1:last').html('$' + delivery_charge.toFixed(2));
		   $('.price-details span.total1:first').html('$' + parseFloat(total_amount).toFixed(2));
		   $('.cart-items h1.quantity').html('My Cart (' + quantity +')');
		   $('ul.total_price li:last span:last').html('$' + parseFloat(amount_with_delivery_charge).toFixed(2));

		 });
	   </script>
 </head>
<body>
<!-- check-out -->
<div class="container">
	<div class="check">	 
		<div class="col-md-3 cart-total">
			<a class="continue" href="#">Continue to basket</a>
			<div class="price-details">
				<h3>Price Details</h3>
				<span>Total</span>
				<span class="total1"></span>
				<span>Delivery Charges</span>
				<span class="total1"></span>
				<div class="clearfix"></div>				 
			</div>	
			<ul class="total_price">
			   <li class="last_price"> <h4>TOTAL</h4></li>	
			   <li class="last_price"><span></span></li>
			   <div class="clearfix"> </div>
			</ul> 
			<div class="clearfix"></div>
			<a class="order" href="#">Place Order</a>
		</div>
		<div class="col-md-9 cart-items">
			<h1 class='quantity'>My Cart</h1>
				<script>$(document).ready(function(c) {
					$('.close1').on('click', function(c){
						$(this).closest('div[class^="cart-header"]').fadeOut('slow', function(c){
							$(this).remove();
						});
						});	  
					});
			   </script>	   
		<% for(var i=0; i < data.length; i++) { %>
			<div class="cart-header">
				<div class="close1"> </div>
				<div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							<img src="images/12.jpg" class="img-responsive" alt=""/>
						</div>
					   <div class="cart-item-info">
							<ul class="qty">
								<li><p>Unit Price : <%= data[i].price %> </p></li>
								<li><p>Qty :<%= data[i].qty %></p></li>
								<li><p>Total : <%= data[i].price * data[i].qty %></p></li>
							</ul>
							<div class="delivery">
								 <p></p>
								 <!-- <span>Delivered in 2-3 bussiness days</span> -->
								 <div class="clearfix"></div>
							</div>	
							<div class="fgh">
								<a href="#">Add To Cart</a>
							</div>
					   </div>
					   <div class="clearfix"></div>
											
				  </div>
			 </div>
			<% } %>
			 <script>$(document).ready(function(c) {
					$('.close2').on('click', function(c){
							$('.cart-header2').fadeOut('slow', function(c){
						$('.cart-header2').remove();
					});
					});	  
					});
			 </script>
			<div class="cart-header2">
				<div class="close2"> </div>
					<div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							 <img src="images/13.jpg" class="img-responsive" alt=""/>
						</div>
					    <div class="cart-item-info">
							<ul class="qty">
								<li><p>Size : 5</p></li>
								<li><p>Qty : 1</p></li>
							</ul>
							<div class="delivery">
								<p>Service Charges : Rs.100.00</p>
								<span>Delivered in 2-3 bussiness days</span>
								<div class="clearfix"></div>
							</div>	
							<div class="fgh">
								<a href="#">Add To Cart</a>
							</div>
					   </div>
					   <div class="clearfix"></div>					
				    </div>
			</div>		
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
</body>
</html>