.top_bg{
	background:#ccc;
    padding: 10px 0;
}
.top_left ul li a{
	padding: 0 25px;
	font-size: 18px;;
}

#add_btn{
      outline: none;
    border: none;
    color: #ffffff;
    padding: 8px 30px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 0 32px 0;
    background: #003366;
    border-top: none;
    border-left: none;
    border-right: none;
    float: right;
    margin-bottom: 7px;
}

#save_changes, #new_btn{
      outline: none;
    border: none;
    color: #ffffff;
    padding: 8px 30px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 0 32px 0;
    background: #003366;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 7px;
}

/*products page*/

.items_container{
	width: 1073px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 12px;
}
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 15px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

/*end of products page*/